<!DOCTYPE html>
<html{{#if isDemo}} class="demo-html"{{/if}}>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{dist}}/css/main.css" media="all" rel="stylesheet" type="text/css" />
    <link href="{{dist}}/css/demo.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body class="theme-{{#if theme}}{{theme}}{{else}}auspost{{/if}}">


    {% body %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{dist}}/js/main.js"></script>
    <script src="{{dist}}/js/demo.js"></script>
    {{#if jsInclude}}
    <script src="{{dist}}/js/{{jsInclude}}.js"></script>
    {{/if}}
  </body>
</html>





